<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidIntegerSubstractionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EmptySpacesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EmptySpacesSubstractionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LongIntegerSubstractionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CharsAdditionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddCharAfterFirstNumberSubstractionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddCharAfterFirstNumberTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>impairSecondNumSubstractionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignIntegerSubstractionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LongIntegerAdditionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValidIntegerAdditionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>pairImpairAdditionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignIntegerAdditionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InvalidDoubleSubstractionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InvalidDoubleAdditionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CharsSubstractionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BeforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
