<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.AddCharAfterFirstNumberSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">AddCharAfterFirstNumberSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:20</td>   <td>662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.AddCharAfterFirstNumberTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">AddCharAfterFirstNumberTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:19</td>   <td>-334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:19</td>   <td>426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:20</td>   <td>970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:20</td>   <td>1505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:21</td>   <td>2045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:21</td>   <td>2525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:22</td>   <td>2934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:22</td>   <td>3472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:23</td>   <td>4118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:24</td>   <td>4756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:25</td>   <td>6104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:26</td>   <td>6869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:27</td>   <td>7634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:27</td>   <td>8187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:28</td>   <td>8653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:28</td>   <td>9150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:20</td>   <td>1217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.CharsAdditionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">CharsAdditionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:21</td>   <td>1756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.CharsSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">CharsSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:21</td>   <td>2271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.EmptySpacesSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">EmptySpacesSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:22</td>   <td>2701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.EmptySpacesTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">EmptySpacesTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:22</td>   <td>3179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.InvalidDoubleAdditionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">InvalidDoubleAdditionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:23</td>   <td>3690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.InvalidDoubleSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">InvalidDoubleSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:23</td>   <td>4366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.LongIntegerAdditionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">LongIntegerAdditionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:25</td>   <td>5813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.LongIntegerSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">LongIntegerSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:26</td>   <td>6617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.SignIntegerAdditionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">SignIntegerAdditionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:26</td>   <td>7298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.SignIntegerSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">SignIntegerSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:27</td>   <td>7860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.ValidIntegerAdditionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">ValidIntegerAdditionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:27</td>   <td>8389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.ValidIntegerSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">ValidIntegerSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:28</td>   <td>8870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.impairSecondNumSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">impairSecondNumSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:28</td>   <td>9339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.pairImpairAdditionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">pairImpairAdditionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
</table>
