<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:19</td>   <td>334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.AddCharAfterFirstNumberSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">AddCharAfterFirstNumberSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:19</td>   <td>760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:20</td>   <td>996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.AddCharAfterFirstNumberTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">AddCharAfterFirstNumberTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:20</td>   <td>1304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:20</td>   <td>1551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.CharsAdditionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">CharsAdditionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:20</td>   <td>1839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:21</td>   <td>2090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.CharsSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">CharsSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:21</td>   <td>2379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:21</td>   <td>2605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.EmptySpacesSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">EmptySpacesSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:21</td>   <td>2859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:22</td>   <td>3035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.EmptySpacesTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">EmptySpacesTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:22</td>   <td>3268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:22</td>   <td>3513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.InvalidDoubleAdditionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">InvalidDoubleAdditionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:22</td>   <td>3806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:23</td>   <td>4024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.InvalidDoubleSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">InvalidDoubleSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:23</td>   <td>4452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:23</td>   <td>4700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.LongIntegerAdditionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">LongIntegerAdditionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:24</td>   <td>5090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:25</td>   <td>6147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.LongIntegerSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">LongIntegerSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:25</td>   <td>6438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:26</td>   <td>6951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.SignIntegerAdditionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">SignIntegerAdditionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:26</td>   <td>7203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:26</td>   <td>7632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.SignIntegerSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">SignIntegerSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:27</td>   <td>7968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:27</td>   <td>8194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.ValidIntegerAdditionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">ValidIntegerAdditionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:27</td>   <td>8521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:27</td>   <td>8723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.ValidIntegerSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">ValidIntegerSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:28</td>   <td>8987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:28</td>   <td>9204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.impairSecondNumSubstractionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">impairSecondNumSubstractionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:28</td>   <td>9484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CakeCalculatorTest.BeforeMethod()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>16/12/08 16:44:28</td>   <td>9673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CakeCalculatorTest.pairImpairAdditionTest()[pri:0, instance:cake.test.marcomaldonado.CalculatorTest.CakeCalculatorTest@4fb3ee4e]">pairImpairAdditionTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
</table>
